@model JRLMotoPecasVersionSENAC.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estoque)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tamanho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tamanho)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd>
            <img src="@Url.Action("Imagem", "Produtoes" )" style="width:160px;height:160px; background: #FFFFFF;
            margin: auto;
            -moz-border-radius: 60px;
            border-radius: 100px;
            padding: 6px;
            box-shadow: 0px 0px 20px #888; " />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
