@model IEnumerable<JRLMotoPecasVersionSENAC.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Relatório</h2>
    </div>
    <div class="panel-body">
        <form method="get" action="GerarRelatorio" id="relatorio" class="form-horizontal">

            <div class="form-group">
                <label for="dataInicial" class="col-sm-2 control-label">Data Inicial:</label>
                <div class="col-sm-2">
                    <input type="date" class="form-control" id="dataInicial" name="dataInicial" required>
                </div>
            
                <label for="dataFinal" class="col-sm-2 control-label">Data Final</label>
                <div class="col-sm-2">
                    <input type="date" class="form-control" id="dataFinal" name="dataFinal" required>
                </div>
                <div class="col-sm-offset-2 col-sm-2">
                    <button type="submit" class="btn btn-default">Gerar Relatório</button>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Numero)</th>
            <th>@Html.DisplayNameFor(model => model.Cliente.Nome)</th>
            <th>@Html.DisplayNameFor(model => model.DataCompra)</th>
            <th>@Html.DisplayNameFor(model => model.TotalCompra)</th>
            <th>@Html.DisplayNameFor(model => model.EstadoAtual)</th>
            <th>Produtos</th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                <td>@Html.DisplayFor(modelItem => item.Cliente.Nome)</td>
                <td>@Html.DisplayFor(modelItem => item.DataCompra)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalCompra)</td>
                <td>@Html.DisplayFor(modelItem => item.EstadoAtual)</td>
                <td><a asp-action="Detalhes" asp-route-id="@item.Id">Visualizar</a></td>
            </tr>
        }
    </tbody>
</table>